# ────────────────────────────────
#  Database Systems Course Repo
# ────────────────────────────────

# Expected Files
.env
*.class

# Docker
docker-compose.override.yml
*.pid
*.seed
*.pid.lock

# Temporary files
.tmp/
temp/
tmp/
.DS_Store
Thumbs.db

hw??/postgresql-42.7.8.jar

# IDE / editor metadata
*.swp
